.input{
  text-align: center;
  justify-content: center;
  margin-left: 500px;
}
.btn{
  background-color: aquamarine;
}
.last{
  margin-top: 60px;
  margin-left: 500px;
}
h3{
  
  margin-left: 500px;
}
.btn1{
  margin-left: 500px;
  background-color: aquamarine;
}
.text{
  border-radius: 30px;
}